    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-american-football-annotation:before { content: "\f100"; }
.flaticon-american-football-ball:before { content: "\f101"; }
.flaticon-american-football-black-shoe:before { content: "\f102"; }
.flaticon-american-football-cheerleader-jump:before { content: "\f103"; }
.flaticon-american-football-field-top-view:before { content: "\f104"; }
.flaticon-american-football-game-ticket:before { content: "\f105"; }
.flaticon-american-football-player-black-t-shirt-cloth:before { content: "\f106"; }
.flaticon-american-football-player-catching-the-ball:before { content: "\f107"; }
.flaticon-american-football-player-hand-holding-the-ball:before { content: "\f108"; }
.flaticon-american-football-player-helmet:before { content: "\f109"; }
.flaticon-american-football-player-kicking-the-ball:before { content: "\f10a"; }
.flaticon-american-football-player-picking-the-ball:before { content: "\f10b"; }
.flaticon-american-football-player-playing-throwing-the-ball-in-his-hand:before { content: "\f10c"; }
.flaticon-american-football-player-running-with-the-ball:before { content: "\f10d"; }
.flaticon-american-football-player-running-with-the-ball-1:before { content: "\f10e"; }
.flaticon-american-football-scores:before { content: "\f10f"; }
.flaticon-american-football-scores-numbers:before { content: "\f110"; }
.flaticon-american-football-signals:before { content: "\f111"; }
.flaticon-barbecue:before { content: "\f112"; }
.flaticon-fast-football-ball:before { content: "\f113"; }
.flaticon-football-helmet:before { content: "\f114"; }
.flaticon-football-medal:before { content: "\f115"; }
.flaticon-football-player:before { content: "\f116"; }
.flaticon-football-shield-symbol:before { content: "\f117"; }
.flaticon-football-t-shirt-with-number-83:before { content: "\f118"; }
.flaticon-football-trophy:before { content: "\f119"; }
.flaticon-football-tv-program:before { content: "\f11a"; }
.flaticon-game-planning:before { content: "\f11b"; }
.flaticon-glove-for-american-football-player:before { content: "\f11c"; }
.flaticon-hand-with-extended-pointing-finger:before { content: "\f11d"; }
.flaticon-hot-dog-sausage-in-bread:before { content: "\f11e"; }
.flaticon-referee:before { content: "\f11f"; }
.flaticon-referee-striped-sportive-t-shirt:before { content: "\f120"; }
.flaticon-soda-glass-with-a-straw:before { content: "\f121"; }
.flaticon-sportive-lockers:before { content: "\f122"; }
.flaticon-stadium-cylinder:before { content: "\f123"; }
.flaticon-trash-can:before { content: "\f124"; }
.flaticon-trophy-silhouette:before { content: "\f125"; }
.flaticon-trouser-of-a-football-player:before { content: "\f126"; }
.flaticon-whistle:before { content: "\f127"; }
    
    $font-Flaticon-american-football-annotation: "\f100";
    $font-Flaticon-american-football-ball: "\f101";
    $font-Flaticon-american-football-black-shoe: "\f102";
    $font-Flaticon-american-football-cheerleader-jump: "\f103";
    $font-Flaticon-american-football-field-top-view: "\f104";
    $font-Flaticon-american-football-game-ticket: "\f105";
    $font-Flaticon-american-football-player-black-t-shirt-cloth: "\f106";
    $font-Flaticon-american-football-player-catching-the-ball: "\f107";
    $font-Flaticon-american-football-player-hand-holding-the-ball: "\f108";
    $font-Flaticon-american-football-player-helmet: "\f109";
    $font-Flaticon-american-football-player-kicking-the-ball: "\f10a";
    $font-Flaticon-american-football-player-picking-the-ball: "\f10b";
    $font-Flaticon-american-football-player-playing-throwing-the-ball-in-his-hand: "\f10c";
    $font-Flaticon-american-football-player-running-with-the-ball: "\f10d";
    $font-Flaticon-american-football-player-running-with-the-ball-1: "\f10e";
    $font-Flaticon-american-football-scores: "\f10f";
    $font-Flaticon-american-football-scores-numbers: "\f110";
    $font-Flaticon-american-football-signals: "\f111";
    $font-Flaticon-barbecue: "\f112";
    $font-Flaticon-fast-football-ball: "\f113";
    $font-Flaticon-football-helmet: "\f114";
    $font-Flaticon-football-medal: "\f115";
    $font-Flaticon-football-player: "\f116";
    $font-Flaticon-football-shield-symbol: "\f117";
    $font-Flaticon-football-t-shirt-with-number-83: "\f118";
    $font-Flaticon-football-trophy: "\f119";
    $font-Flaticon-football-tv-program: "\f11a";
    $font-Flaticon-game-planning: "\f11b";
    $font-Flaticon-glove-for-american-football-player: "\f11c";
    $font-Flaticon-hand-with-extended-pointing-finger: "\f11d";
    $font-Flaticon-hot-dog-sausage-in-bread: "\f11e";
    $font-Flaticon-referee: "\f11f";
    $font-Flaticon-referee-striped-sportive-t-shirt: "\f120";
    $font-Flaticon-soda-glass-with-a-straw: "\f121";
    $font-Flaticon-sportive-lockers: "\f122";
    $font-Flaticon-stadium-cylinder: "\f123";
    $font-Flaticon-trash-can: "\f124";
    $font-Flaticon-trophy-silhouette: "\f125";
    $font-Flaticon-trouser-of-a-football-player: "\f126";
    $font-Flaticon-whistle: "\f127";