	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-american-football-annotation:before { content: "\f100"; }
.flaticon-american-football-ball:before { content: "\f101"; }
.flaticon-american-football-black-shoe:before { content: "\f102"; }
.flaticon-american-football-cheerleader-jump:before { content: "\f103"; }
.flaticon-american-football-field-top-view:before { content: "\f104"; }
.flaticon-american-football-game-ticket:before { content: "\f105"; }
.flaticon-american-football-player-black-t-shirt-cloth:before { content: "\f106"; }
.flaticon-american-football-player-catching-the-ball:before { content: "\f107"; }
.flaticon-american-football-player-hand-holding-the-ball:before { content: "\f108"; }
.flaticon-american-football-player-helmet:before { content: "\f109"; }
.flaticon-american-football-player-kicking-the-ball:before { content: "\f10a"; }
.flaticon-american-football-player-picking-the-ball:before { content: "\f10b"; }
.flaticon-american-football-player-playing-throwing-the-ball-in-his-hand:before { content: "\f10c"; }
.flaticon-american-football-player-running-with-the-ball:before { content: "\f10d"; }
.flaticon-american-football-player-running-with-the-ball-1:before { content: "\f10e"; }
.flaticon-american-football-scores:before { content: "\f10f"; }
.flaticon-american-football-scores-numbers:before { content: "\f110"; }
.flaticon-american-football-signals:before { content: "\f111"; }
.flaticon-barbecue:before { content: "\f112"; }
.flaticon-fast-football-ball:before { content: "\f113"; }
.flaticon-football-helmet:before { content: "\f114"; }
.flaticon-football-medal:before { content: "\f115"; }
.flaticon-football-player:before { content: "\f116"; }
.flaticon-football-shield-symbol:before { content: "\f117"; }
.flaticon-football-t-shirt-with-number-83:before { content: "\f118"; }
.flaticon-football-trophy:before { content: "\f119"; }
.flaticon-football-tv-program:before { content: "\f11a"; }
.flaticon-game-planning:before { content: "\f11b"; }
.flaticon-glove-for-american-football-player:before { content: "\f11c"; }
.flaticon-hand-with-extended-pointing-finger:before { content: "\f11d"; }
.flaticon-hot-dog-sausage-in-bread:before { content: "\f11e"; }
.flaticon-referee:before { content: "\f11f"; }
.flaticon-referee-striped-sportive-t-shirt:before { content: "\f120"; }
.flaticon-soda-glass-with-a-straw:before { content: "\f121"; }
.flaticon-sportive-lockers:before { content: "\f122"; }
.flaticon-stadium-cylinder:before { content: "\f123"; }
.flaticon-trash-can:before { content: "\f124"; }
.flaticon-trophy-silhouette:before { content: "\f125"; }
.flaticon-trouser-of-a-football-player:before { content: "\f126"; }
.flaticon-whistle:before { content: "\f127"; }