{% extends "bootstrap/base.html" %}

{% block title %}Touchdown{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('home') }}">Touchdown</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="mapli">
        <a class="nav-link" href="{{ url_for('map') }}" >Map</a>
      </li>
      <li class="nav-item" id="compareplayerli">
        <a class="nav-link" href="{{ url_for('compare_players', id1=1000, id2=1000) }}">Compare Players</a>
      </li>
      <li class="nav-item" id="compareteamli">
        <a class="nav-link" href="{{ url_for('compare_teams', abv1='XXX', abv2='XXX') }}">Compare Teams</a>
      </li>
    </ul>
  </div>
</nav>
 
<script>
  window.addEventListener("load",function(){
    var currentUrl = window.location.href.toString().split(window.location.host)[1];
    
    if(currentUrl=="{{ url_for('map') }}" || currentUrl=="{{ url_for('home') }}")
    {
      document.getElementById("mapli").classList.add("active");
    }
    else if(currentUrl.replace(/[0-9]/g, '')=="{{ url_for('compare_players', id1=1000, id2=1000) }}".replace(/[0-9]/g, ''))
    {
      document.getElementById("compareplayerli").classList.add("active");
    }
    else if(currentUrl.replace(/[A-Z]/g, '')=="{{ url_for('compare_teams', abv1='XXX', abv2='XXX') }}".replace(/[A-Z]/g, ''))
    {
      document.getElementById("compareteamli").classList.add("active");
    }
},false);
</script>
{% endblock %}

{% block content %}
  
{% endblock %}