{%- extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename = 'autocomplete.js') }}"></script>
<div class="col  container">
    <div class="row" style="margin-top: 3em">
        <div class="col-4">
            <div class="card" style="margin-left: 3em;" name="player1">
                {% if players['player2'] == None %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_players', id1=1000, id2=1000) }}" style="width: 100%;">Remove</a>
                {% else %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_players', id1=1000, id2=players['player2'].player_index) }}"
                    style="width: 100%;">Remove</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4 offset-4">
            <div class="card" style="margin-right: 3em;" name="player2">
                {% if players['player1'] == None %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_players', id1=1000, id2=1000) }}" style="width: 100%;">Remove</a>
                {% else %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_players', id1=players['player1'].player_index, id2=1000) }}"
                    style="width: 100%;">Remove</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row" style="height: 30vh; margin-top: 1em">
        <div class="col-4" name="player1">
            <div class="card" style="margin-left: 3em;">
                <div class="row align-items-right" style="margin-top: 1em; margin-bottom: 1em">
                    <div class="col-8">
                        <div class="card-block">
                            <h2 align="right" id="player_name" style="font-size: 1.5vw">{{ players["player1"].Player }}</h2>
                            <h3 align="right" id="player_age" style="font-size: 1.3vw">{{ players["player1"].Age }}</h3>
                            <h3 align="right" id="player_team" style="font-size: 1.3vw">{{ teams["player1"] }}</h3>
                            <h3 align="right" id="player_post" style="font-size: 1.3vw">{{ players["player1"].FantPos}}</h3>
                        </div>
                    </div>
                    <div class="col">
                        <img align="right" src="{{ players['player1'].url }}" style="height:10vw">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-top: 3em; display: none;" id="btnarea1">
            <div class="row" style="z-index: 100; position: absolute; width: 100%;">
                <div class="col-5 offset-2">
                    <input class="form-control" style="width: 100%" id="player1selection" type="text" name="player1selection"
                        placeholder="Player">
                </div>
                <div class="col-5">
                    <a id="select1" class="btn btn-outline-secondary" href="#" style="width: 100%">Select</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
            </div>
        </div>
        <div class="col-4" name="player2">
            <div class="card" style="margin-right: 3em;">
                <div class="row align-items-left" style="margin-top: 1em; margin-bottom: 1em">
                    <div class="col-4">
                        <img src="{{ players['player2'].url }}" style="height:10vw">
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <h2 id="player_name" style="font-size: 1.5vw">{{ players["player2"].Player }}</h2>
                            <h3 id="player_age" style="font-size: 1.3vw">{{ players["player2"].Age }}</h3>
                            <h3 id="player_team" style="font-size: 1.3vw">{{ teams["player2"] }}</h3>
                            <h3 id="player_post" style="font-size: 1.3vw">{{ players["player2"].FantPos}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-top: 3em; display: none" id="btnarea2">
            <div class="row" style="z-index: 100; position: absolute; width: 100%;">
                <div class="col-5">
                    <input class="form-control" style="width: 100%" id="player2selection" type="text" name="player2selection"
                        placeholder="Player">
                </div>
                <div class="col-5">
                    <a id="select2" class="btn btn-outline-secondary" href="#" style="width: 100%">Select</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <h1 align="right" style="font-size: 10vw" name="player1">{{ players["player1"].Scoring_TD }}</h1>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/referee.svg') }}" style="height:10vw;">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <h1 align="left" style="font-size: 10vw">{{ players["player2"].Scoring_TD }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <h1 align="right" style="font-size: 3vw" name="player1">{{ players["player1"].Games_GS }} from beginning</h1>
            <h1 align="right" style="font-size: 3vw" name="player1">{{ players["player1"].Games_G }} in game</h1>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/stadium-cylinder.svg') }}"
                    style="height:10vw">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <h1 align="left" style="font-size: 3vw" name="player2">{{ players["player2"].Games_GS }} from beginning</h1>
            <h1 align="left" style="font-size: 3vw" name="player2">{{ players["player2"].Games_G }} in game</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="player1">
                <div class="row justify-content-right">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Rushing_Yds
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Rushing_Att
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Rushing_Y_A
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>{{ players["player1"].Rushing_TD
                                }}</b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-running-with-the-ball.svg') }}"
                    style="height:10vw ; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="player2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Rushing_Yds }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Rushing_Att }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Rushing_Y_A }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>{{ players["player2"].Rushing_TD
                                }}</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="player1">
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Complete</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Passing_Cmp
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Passing_Att
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Yards </h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Passing_Yds
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>{{ players["player1"].Passing_TD
                                }}</b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-playing-throwing-the-ball-in-his-hand.svg') }}"
                    style="height:10vw; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="player2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Passing_Cmp }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Complete</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Passing_Att }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Passing_Yds }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Yards </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>{{ players["player2"].Passing_TD
                                }}</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="player1">
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Target</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Receiving_Tgt
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Reception</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Receiving_Rec
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Receiving_Yds
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">Yards/Rec.</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw">{{ players["player1"].Receiving_Y_R
                            }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="player_name" style="font-size: 1.3vw"><b>{{
                                players["player1"].Receiving_TD
                                }}</b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-catching-the-ball.svg') }}"
                    style="height:10vw; margin-left: 1em"> </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="player2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Receiving_Tgt
                            }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Target</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Receiving_Rec
                            }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Reception</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Receiving_Yds
                            }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">{{ players["player2"].Receiving_Y_R
                            }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw">Yards/Rec.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>{{
                                players["player2"].Receiving_TD }}</b></h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var players = [];
            var urls_compare1 = [];
            var urls_compare2 = [];
            "{% for value in all_players %}"
            players.push("{{ value['Player'] }}");
            "{% if players['player2'] == None %}"
            urls_compare1.push("{{ url_for('compare_players', id1=value['player_index'], id2=1000) }}");
            "{% else %}"
            urls_compare1.push("{{ url_for('compare_players', id1=value['player_index'], id2=players['player2'].player_index) }}");
            "{% endif %}"
            "{% if players['player1'] == None %}"
            urls_compare2.push("{{ url_for('compare_players', id1=1000, id2=value['player_index']) }}");
            "{% else %}"
            urls_compare2.push("{{ url_for('compare_players', id1=players['player1'].player_index, id2=value['player_index']) }}");
            "{% endif %}"
            "{% endfor %}"

            if ("{{players['player1']}}" == "None") {
                var player1 = document.getElementsByName("player1");
                for (let index = 0; index < player1.length; index++) {
                    player1[index].style.display = "none";
                }
                document.getElementById("btnarea1").style.display = "flex";
            }

            if ("{{players['player2']}}" == "None") {
                var player1 = document.getElementsByName("player2");
                for (let index = 0; index < player1.length; index++) {
                    player1[index].style.display = "none";
                }
                document.getElementById("btnarea2").style.display = "flex";
            }
            autocomplete(document.getElementById("player1selection"), players, urls_compare1, "select1");
            autocomplete(document.getElementById("player2selection"), players, urls_compare2, "select2");
        }
    </script>
</div>

{% endblock %}