{%- extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename = 'autocomplete.js') }}"></script>
<div class="col  container">
    <div class="row" style="margin-top: 3em">
        <div class="col-4">
            <div class="card" style="margin-left: 3em;" name="team1">
                {% if teams['team2'] == None %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_teams', abv1='XXX', abv2='XXX') }}"
                    style="width: 100%;">Remove</a>
                {% else %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_teams', abv1='XXX', abv2=teams['team2'].Abv) }}"
                    style="width: 100%;">Remove</a>
                {% endif %}
            </div>
        </div>
        <div class="col-4 offset-4">
            <div class="card" style="margin-right: 3em;" name="team2">
                {% if teams['team1'] == None %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_teams', abv1='XXX', abv2='XXX') }}"
                    style="width: 100%;">Remove</a>
                {% else %}
                <a class="btn btn-outline-secondary" href="{{ url_for('compare_teams', abv1=teams['team1'].Abv, abv2='XXX') }}"
                    style="width: 100%;">Remove</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row" style="height: 30vh; margin-top: 1em">
        <div class="col-4" name="team1">
            <div class="card" style="margin-left: 3em;">
                <div class="row align-items-right" style="margin-top: 1em; margin-bottom: 1em">
                    <div class="col-7">
                        <div class="card-block">
                            <h2 align="right" id="team_name" style="font-size: 1.5vw">{{ teams["team1"].Name }}</h2>
                            <h3 align="right" id="team_age" style="font-size: 1.3vw">{{ teams["team1"].City }}</h3>
                            <h3 align="right" id="team_team" style="font-size: 1.3vw">{{ teams["team1"].Conference }}</h3>
                            <h3 align="right" id="team_post" style="font-size: 1.3vw">{{ teams["team1"].Division}}</h3>
                        </div>
                    </div>
                    <div class="col">
                        <img align="right" src="{{ teams['team1'].url }}" style="height:10vw">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-top: 3em; display: none;" id="btnarea1">
            <div class="row" style="z-index: 100; position: absolute; width: 100%;">
                <div class="col-5 offset-2">
                    <input class="form-control" style="width: 100%" id="team1selection" type="text" name="team1selection"
                        placeholder="Team">
                </div>
                <div class="col-5">
                    <a id="select1" class="btn btn-outline-secondary" href="#" style="width: 100%">Select</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
            </div>
        </div>
        <div class="col-4" name="team2">
            <div class="card" style="margin-right: 3em;">
                <div class="row align-items-left" style="margin-top: 1em; margin-bottom: 1em">
                    <div class="col-5">
                        <img src="{{ teams['team2'].url }}" style="height:10vw">
                    </div>
                    <div class="col">
                        <div class="card-block">
                            <h2 id="team_name" style="font-size: 1.5vw">{{ teams["team2"].Name }}</h2>
                            <h3 id="team_age" style="font-size: 1.3vw">{{ teams["team2"].City }}</h3>
                            <h3 id="team_team" style="font-size: 1.3vw">{{ teams["team2"].Conference }}</h3>
                            <h3 id="team_post" style="font-size: 1.3vw">{{ teams["team2"].Division}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-top: 3em; display: none" id="btnarea2">
            <div class="row" style="z-index: 100; position: absolute; width: 100%;">
                <div class="col-5">
                    <input class="form-control" style="width: 100%" id="team2selection" type="text" name="team2selection"
                        placeholder="Team">
                </div>
                <div class="col-5">
                    <a id="select2" class="btn btn-outline-secondary" href="#" style="width: 100%">Select</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <h1 align="right" style="font-size: 10vw" name="team1">{{ teams["team1"].AllTD }}</h1>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/referee.svg') }}" style="height:10vw;">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <h1 align="left" style="font-size: 10vw">{{ teams["team2"].AllTD }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="team1">
                <div class="row justify-content-right">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Games</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].G }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Ranking</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Rk }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Points/Game</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Pts_G }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/football-trophy.svg') }}" style="height:10vw ; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="team2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].G }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Games</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Rk }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Ranking</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Pts_G }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Points/Game</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="team1">
                <div class="row justify-content-right">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Rush_Yds }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Rush_Y_A }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Touchdown</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Rush_TD }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-running-with-the-ball.svg') }}"
                    style="height:10vw ; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="team2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Rush_Yds }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Yards</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Rush_Y_A }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Rush_TD }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Touchdown</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="team1">
                <div class="row justify-content-right">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Complete</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Pass_Cmp }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Pass_Att }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Yards/Attemp</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Pass_NY_A }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Touchdown</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].Pass_TD }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-playing-throwing-the-ball-in-his-hand.svg') }}"
                    style="height:10vw ; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="team2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Pass_Cmp }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Complete</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Pass_Att }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Attempt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Pass_NY_A }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].Pass_TD }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Touchdown</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 align-self-center">
            <div class="card-block" name="team1">
                <div class="row justify-content-right">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Field goal attempt</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].FGA }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">Field goal made</h3>
                    </div>
                    <div class="col">
                        <h3 align="right" id="team_name" style="font-size: 1.3vw">{{ teams["team1"].FGM }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row justify-content-center">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-annotation.svg') }}"
                    style="height:10vw ; margin-left: 1em">
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="card-block" name="team2">
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].FGA }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Field goal attempt</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">{{ teams["team2"].FGM }}</h3>
                    </div>
                    <div class="col">
                        <h3 align="left" id="team_name" style="font-size: 1.3vw">Field goal made</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {

            var teams = [];
            var urls_compare1 = [];
            var urls_compare2 = [];
            "{% for value in all_teams %}"
            teams.push("{{ value['Name'] }}");
            "{% if teams['team2'] == None %}"
            urls_compare1.push("{{ url_for('compare_teams', abv1=value['Abv'], abv2='XXX') }}");
            "{% else %}"
            urls_compare1.push("{{ url_for('compare_teams', abv1=value['Abv'], abv2=teams['team2'].Abv) }}");
            "{% endif %}"
            "{% if teams['team1'] == None %}"
            urls_compare2.push("{{ url_for('compare_teams', abv1='XXX', abv2=value['Abv']) }}");
            "{% else %}"
            urls_compare2.push("{{ url_for('compare_teams', abv1=teams['team1'].Abv, abv2=value['Abv']) }}");
            "{% endif %}"
            "{% endfor %}"

            if ("{{teams['team1']}}" == "None") {
                var team1 = document.getElementsByName("team1");
                for (let index = 0; index < team1.length; index++) {
                    team1[index].style.display = "none";

                }
                document.getElementById("btnarea1").style.display = "flex";
            }

            if ("{{teams['team2']}}" == "None") {
                var team1 = document.getElementsByName("team2");
                for (let index = 0; index < team1.length; index++) {
                    team1[index].style.display = "none";

                }
                document.getElementById("btnarea2").style.display = "flex";
            }

            autocomplete(document.getElementById("team1selection"), teams, urls_compare1, "select1");
            autocomplete(document.getElementById("team2selection"), teams, urls_compare2, "select2");
        }
    </script>
</div>

{% endblock %}