{%- extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='svg.js') }}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Team info -->
<div class="row align-items-center">
    <div class="col-1">
        <img src="{{ team.url }}" style="height:10vw">
    </div>
    <div class="col">
        <div class="row" style="margin-left: 35px;">
            <h2>{{team.Name}}</h2>
        </div>
        <div class="row" style="margin-left: 35px;">
            <h3>{{team.City}}</h3>
        </div>
    </div>
</div>

<!-- Drawing of the field -->
<div class="row justify-content-center">
    <div id="drawing" style="width:1200px; height: 237px;"></div>
</div>

<div class="row" style="margin-left: 35px;">
<div class="col">


{% for position in all_positions %}
<div id="{{position.id}}" style="display: none;">
    <div class="row">
        <h2>{{position.name}}</h2>
    </div>
    <div class="row">
        {% for player in position.players %}
        <div class="card col-3" style="margin-top: 3em; margin-left: 3em;">
            <div class="row align-items-center" style="margin-top: 1em; margin-bottom: 1em">
                <div class="col-5">
                    <img src="{{ player.url }}" style="height:10vw">
                </div>
                <div class="col">
                    <div class="card-block">
                        <h2 id="player_name" style="font-size: 1.5vw"><a href="{{ url_for('player',id=player.player_index)}}">{{
                                player.Player }}</a></h2>
                        <h3 id="player_age" style="font-size: 1.3vw">{{ player.Age }}</h3>
                        <h3 id="player_post" style="font-size: 1.3vw">{{ player.FantPos}}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
</div>

<script type="text/javascript">
    // toogle player div display
    function toogle_display(id) {
        var current_display = document.getElementById(id).style.display;
        if (current_display == 'none') {
            document.getElementById(id).style.display = "block";
        } else {
            document.getElementById(id).style.display = "none";
        }
    }

    var svg = SVG('drawing');
    var draw = svg;

    $.get("{{ url_for('static', filename='111167-american-football/svg/field_modified.svg') }}", function (data) {
        data = (new XMLSerializer()).serializeToString(data);
        draw.svg(data);

        //display on click
        $('#layer7').on('click', function () {
            toogle_display('RB');
        });
        $('#layer8').on('click', function () {
            toogle_display('TE');
        });
        $('#layer6').on('click', function () {
            toogle_display('WR');
        });
        $('#layer4').on('click', function () {
            toogle_display('QB');
        });
    });
</script>
{% endblock %}