{%- extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'mapdata.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'usmap.js') }}"></script>

<div class="col container">
    <h1>Map</h1>
    <div class="row">
        <div class="col-8 offset-1" id="map"></div>
        <div class="col">
            <div class="row" style="margin-left: 5%">
                <div class="col">
                    <div class="row">
                        <h3>AFC</h3>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["CO","MO","CA","LA"],"red")'>
                        <label class="form-check-label">AFC West</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["NY","MA","FL"],"blue")'>
                        <label class="form-check-label">AFC Est</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["OH","MD","PA"],"green")'>
                        <label class="form-check-label">AFC North</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["TN","IN","TX"],"yellow")'>
                        <label class="form-check-label">AFC South</label>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h3>NFC</h3>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["AZ","MO","CA","WA"],"#29bdaa")'>
                        <label class="form-check-label">NFC West</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["NY","TX","PA","DC"],"#cf7a17")'>
                        <label class="form-check-label">NFC Est</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["IL","MI","WI","MN"],"#8680dd")'>
                        <label class="form-check-label">NFC North</label>
                    </div>
                    <div class="row">
                        <input type="radio" class="form-check-input" name="radiosRegion" onclick='showregion(["NC","GA","LA","FL"],"#92cc1f")'>
                        <label class="form-check-label">NFC South</label>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 40%;">
                <div class="col-1" style="margin-top: 1em; margin-left: 3em;">
                    <a class="btn btn-secondary" href="{{ url_for('home') }}">Reset</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Motivation</h2>
                    <p>Le but de l'application est de présenter aux amateurs de NFL une interface leur permettant de
                        comparer leurs joueurs et équipes préférés. Le football est un sport qui contient
                        une grande quantité de stats très intéressantes à analyser pour les amateurs, cependant ces
                        informations sont parfois
                        difficile à appréhender. Le but de ce projet est de pouvoir offrir aux utilisateurs une
                        expérience
                        imagée, plus immersive et plus
                        claire qu'un simple fichier excel.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function showregion(list_state, color) {
        Object.keys(simplemaps_usmap_mapdata.state_specific).forEach(function (element) {
            if (list_state.indexOf(element) > -1) {
                simplemaps_usmap_mapdata.state_specific[element].color = "#666666";
            }
            else {
                delete simplemaps_usmap_mapdata.state_specific[element].color;
            }
        });
        simplemaps_usmap.refresh();
    }
</script>

{% endblock %}