{%- extends "base.html" %}

{% block content %}

<div class="row align-items-center">
    <div class="col-1" style="margin-top: 1em; margin-left: 3em;">
        <a class="btn btn-secondary" href="{{ url_for('formation', team_abv=team.Abv) }}">Formation</a>
    </div>
    <div class="col-1" style="margin-top: 1em; margin-left: 3em;">
        <a class="btn btn-secondary" href="{{ url_for('compare_teams', abv1=team.Abv, abv2='XXX') }}">Compare</a>
    </div>
</div>

<div class="row align-items-center">
    <div class="card col-3" style="margin-top: 1em; margin-left: 4em;">
        <div class="row align-items-center" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-5">
                <img src="{{ team.url }}" style="height:10vw">
            </div>
            <div class="col">
                <div class="card-block">
                    <h2 style="font-size: 1.5vw">{{ team.Name }}</h2>
                    <h3 style="font-size: 1.3vw">{{ team.City }}</h3>
                    <h3 style="font-size: 1.3vw">{{ team.Conference }}</h3>
                    <h3 style="font-size: 1.3vw">{{ team.Division }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="margin-top: 3em; margin-left: 3em;">
        <div title="Touchdown" class="row align-items-center" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-5">
                <img src="{{ url_for('static', filename = '111167-american-football/svg/referee.svg') }}" style="height:10vw">
            </div>
            <div class="col">
                <h1 align="center" style="font-size: 10vw">{{ team.AllTD }}</h1>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div title="Passing" class="card" style="margin-top: 3em;">
            <div class="row align-items-center " style="margin-top: 1em; margin-bottom: 1em">
                <div class="col-5">
                    <img src="{{ url_for('static', filename = '111167-american-football/svg/football-trophy.svg') }}"
                        style="height:10vw; margin-left: 1em">
                </div>
                <div class="col">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Games</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.G }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Ranking</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Rk }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Points/Game</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Pts_G }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row" style=" margin-left: 2em;  margin-right: 2em">
    <div class="col-4">
        <div title="Rushing" class="card" style="margin-top: 3em; ">
            <div class="row align-items-center" style="margin-top: 1em; margin-bottom: 1em;">
                <div class="col-5">
                    <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-running-with-the-ball.svg') }}"
                        style="height:10vw ; margin-left: 1em">
                </div>
                <div class="col">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Yards</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Rush_Yds }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Yards/Attempt</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Rush_Y_A }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw"><b>{{ team.Rush_TD }}</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div title="Passing" class="card" style="margin-top: 3em;">
            <div class="row align-items-center " style="margin-top: 1em; margin-bottom: 1em">
                <div class="col-5">
                    <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-player-playing-throwing-the-ball-in-his-hand.svg') }}"
                        style="height:10vw; margin-left: 1em">
                </div>
                <div class="col">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Complete</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Pass_Cmp }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Attempt</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Pass_Att }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Yards/Attempt </h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.Pass_NY_A }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw"><b>Touchdown</b></h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw"><b>{{ team.Pass_TD }}</b></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div title="Passing" class="card" style="margin-top: 3em;">
            <div class="row align-items-center " style="margin-top: 1em; margin-bottom: 1em;">
                <div class="col-5">
                    <img src="{{ url_for('static', filename = '111167-american-football/svg/american-football-annotation.svg') }}"
                        style="height:10vw; margin-left: 1em">
                </div>
                <div class="col">
                    <div class="card-block">
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Field goal attempt</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.FGA }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">Field goal made</h3>
                            </div>
                            <div class="col">
                                <h3 id="player_name" style="font-size: 1.3vw">{{ team.FGM }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}